/* Style data attached by element type.  All the <div> elements in the document... */
div {
    font-family: Arial, Helvetica, sans-serif;
    background-color: greenyellow;
}

/* Style data attached by ID attribute */
#Tags_that_do_not_change_the_look_by_themselves {
    border-right: thin solid;
}

/* Style data attached by class attribute */
.booktitle {
    font-style: italic;
}

/* <code> element with a <div> somewhere in its ancestry. */
div code {
    font-size: larger;
    font-style: italic;  
}

/* <code> element that's the direct child of a <p> with class "spandemo". 
  This selector (parent selector) overrides the ancestor selector just
  above because it's more specific. */
p.spandemo > code {
    font-style: normal;
    font-weight: bold;
}

/* <code> element that's the next sibling after a <span> element. 
   This overrides the element selector attached to the enclosing <div>
   because it's more specific. */
span + code {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: smaller;  /* "smaller" undoes the "larger" from the "div code" */
}

/* Matching by pseudoclasses */

/* Structural pseudoclasses */

/* <li> that's the first child of its parent */
li:first-child {
    font-weight: bold;
}

/* Sixth <li> in a list */
li:nth-of-type(6) {
    font-weight: bold;
}

/* Seventh <li> in a list */
li:nth-of-type(7) {
    font-style: italic;
}

/* First <td> in a table row */
td:first-of-type {
    color: blue;
}

/* Second to last <td> in a table row */
td:nth-last-of-type(2) {
    color: red;
}

/* User-action pseudoclasses */

/* <li> element with the mouse over it */
li:hover {
    background-color: purple;
    color: gold;
}

/*
nav li:hover {
    background-color: inherit;
    color: inherit;
}
*/

nav li:first-child {
    font-weight: normal;
}

nav > ul > li { 
    display: table-cell;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


nav > ul > li > ul {
    display: none;
    list-style-type: none;
    border: thin solid;
    background-color: gold;
    margin: 0;
}

nav > ul > li:hover > ul {
    display: inherit;
}

nav > ul > li > ul > li {
    margin-left: 0;
}

nav > ul > li > ul > li:hover {
    background-color:purple;
    color: gold;
}

nav > ul > li > ul > li:hover > a {
    background-color:purple;
    color: gold;
}

/* Font manipulation */

/* Font family */
.fontdemo span:first-child {
    font-family: Arial, Helvetica, sans-serif;
}

.fontdemo span:nth-child(2) {
    font-family: 'Courier New', Courier, monospace;
}

.fontdemo span:nth-child(3) {
    font-family: 'Brush Script MT', 'Brush Script Std', 'Lucida Calligraphy', 'Lucida Handwriting', 'Apple Chancery', cursive;
}

.fontdemo span:nth-child(4) {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.fontdemo span:nth-child(5) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fontdemo span:nth-child(6) {
    font-family: Lucida Bright, Lucida Fax, Palatino, "Palatino Linotype", Palladio, "URW Palladio", serif;
}

.fontdemo span:nth-child(7) {
    font-style: normal;
}

.fontdemo span:nth-child(8) {
    font-style: italic;
}

.fontdemo span:nth-child(9) {
    font-style: oblique;
}

.fontdemo span:nth-child(10) {
    font-variant: small-caps;
}

.fontdemo span:nth-child(11) {
    font-size: xx-small;
}

.fontdemo span:nth-child(12) {
    font-size: 75%;
}

.fontdemo span:nth-child(13) {
    font-size: medium;
}

.fontdemo span:nth-child(14) {
    font-size: 16pt;
}

.fontdemo span:nth-child(15) {
    font-size: x-large;
}

.fontdemo span:nth-child(16) {
    font-weight: 100;
}

.fontdemo span:nth-child(17) {
    font-weight: lighter;
}

.fontdemo span:nth-child(18) {
    font-weight: bold;
}

.fontdemo span:nth-child(19) {
    font-weight: 900;
}

div.textdemo {
    font: inherit;
    border: none;
    background-color: inherit;
}

.textdemo > p:first-of-type { text-indent: 3em; }

.align {
    margin-top: 0;
    margin-bottom: 0;
}

.textdemo > p.align:nth-of-type(2) {
    text-align: left;
}

.textdemo > p.align:nth-of-type(3) {
    text-align: center;
}

.textdemo > p.align:nth-of-type(4) {
    text-align: right;
}

.decorations > span:first-of-type {
    text-decoration: overline;
}

.decorations > span:nth-of-type(2) {
    text-decoration: underline;
}

.decorations > span:nth-of-type(3) {
    text-decoration: line-through;
}

.transform > span:first-of-type{
    text-transform: uppercase;
}

.transform > span:nth-of-type(2) {
    text-transform: capitalize;
}

.transform > span:nth-of-type(3) {
    text-transform: lowercase;
}

.whitespace {
    white-space: pre;
}

/* Colors */

div.colordemo {
    font: inherit;
    border: none;
    background-color: inherit;
    background-image: url('Converse_logo_type-100w-noalpha.png');
    background-repeat: no-repeat;
    background-position: bottom 75% right 50%;
}

.colordemo > ol > li:first-of-type > span {
    background-color: green;
}

.colordemo > ol > li:nth-of-type(2) > span {
    background-color: #FF8800;
}

.colordemo > ol > li:nth-of-type(3) > span {
    background-color: rgb(128, 128, 128);
}

/* Lists */

ul.listdemo li:first-of-type {
    list-style-type: circle;
}

ul.listdemo li:last-of-type {
    list-style-type: square;
}

ol.listdemo li:nth-of-type(2) {
    list-style-type: upper-alpha;
}

ol.listdemo li:nth-of-type(3) {
    list-style-type: lower-alpha;
}

ol.listdemo li:nth-of-type(4) {
    list-style-type: upper-roman;
}

ol.listdemo li:nth-of-type(5) {
    list-style-type: lower-roman;
}

/* Box model (padding, border, margin) */
.colordemo > ol > li:first-of-type > span {
    margin-top: 4ex;    /* No effect.  <li> takes its height strictly */
    margin-bottom: 2ex;  /* from its content, ignoring margins. */
    margin-left: 2em;
    margin-right: 3em;
    border: thin solid #003300;
}

.colordemo > ol > li:first-of-type {
    margin-top: 4ex;
    margin-bottom: 2ex;
    border: thin solid #003300;
}

.colordemo > ol > li:nth-of-type(2) > span {
    border: medium outset saddlebrown;
}

.colordemo > ol > li:nth-of-type(2) {
    border-top: thick dashed brown;
    border-left: 10px solid brown;
    border-bottom: 5px double brown;
    border-right: medium dotted brown;   
}

.colordemo > ol > li:nth-of-type(3) > span {
    border: thin solid rgb(64, 64, 64);
    padding-left: 2em;
    padding-right: 3em;
}

.colordemo > ol > li:nth-of-type(3) {
    border: thin solid rgb(64, 64, 64);
    padding-top: 4ex;
    padding-bottom: 2ex;
}

/* Width, height */
table {
    width: 100%;
}

/* Tables */
table {
    border-collapse: collapse;
    border: thin solid;
}

tr {
    border-bottom: thin solid gray; 
}

tr:first-child {
    border-bottom: none;
}

tr:nth-of-type(2) {
    border-bottom: double;
}

th:first-child {
    border-right: double;
}

tr:first-child > th:first-child {
    border-right: none;
}