/* Tag selector (two tags types given) */
/* Comma between selectors is OR */
h2, h3 { color: firebrick; }

/* More specific than just the tag */
/* ID selector (with the tag, in this case) */
h2#Links { color: slateblue; }

/* Class selector */
.numeric { list-style-type: lower-roman; }

/* Pseudoclass selector (structural) */
li:first-child { color: darkgreen; }

/* Pseudoclass selector (behavioral) */
li:hover { background-color: whitesmoke; }

/* Attribute selector */
input[type="password"] { background-color: magenta; }

/* Use attribute selectors to confuse the ordered lists!  Mwahahaha! */
ol[type="I"] > li > ol[type="A"] { list-style-type: lower-roman; }
ol[type="I"] > li > ol[type="A"] > li > ol[type="a"] { list-style-type: upper-roman; }
ol[type="I"] { list-style-type: lower-alpha; }
ol[type="I"] > li > ol[type="A"] > li > ol[type="a"] > li > ol[type="i"] { list-style-type: upper-alpha; }

/* Parent combinator */
div > h2 { color: rgb(96,96,96); }

/* Ancestor combinator (space) */
/* Highlight the second-level items */
ol.outline ol > li:hover { background-color: linen; }

/* Ancestor combinators (spaces) */
/* Highlight the third-level items */
ol.outline ol ol > li:hover { background-color: mintcream; }


/* Mark required, valid, and invalid form elements */
span.flag::before {
    color: firebrick;
    content: '*';
}

:valid + span.flag::before, span.flag.valid::before, 
:valid + label + span.flag::before {
    color: green;
    content: '✓';
}

.invalid {
    color: firebrick;
}

.valid {
    color: green;
}

/* Font properties */
/* Font families */
input[type="radio"] + label { font-family: "Gill Sans", Arial, Helvetica, sans-serif }
input[type="checkbox"] + label { font-family: Gabriola, "Apple Chancery", cursive }
fieldset:first-child { font-family: "Old English Text MT", fantasy; }
fieldset:nth-of-type(2) > legend { font-family: 'Courier New', monospace }

/* Boldness */
fieldset:first-child > label:last-of-type { font-weight: bolder; } /* Relative */
fieldset:first-child > label:first-of-type { font-weight: bold; } /* Absolute */
/* Style (normal or italic) */
fieldset:nth-of-type(2) > label:first-of-type { font-style: italic; }
/* Size */
input[type="radio"]:first-of-type + label { font-size: 150%; }
input[type="radio"]:nth-of-type(2) + label { font-size: 125%; }
input[type="radio"]:nth-of-type(3) + label { font-size: 100%; }
input[type="radio"]:nth-of-type(4) + label { font-size: 75%; }

/* line height */
.doublespace { line-height: 200%; }

/* Vertical align */
img.building { width: 100%; }
tr:nth-of-type(4) > td:nth-of-type(3) { vertical-align: bottom; }
tr:nth-of-type(4) > td:nth-of-type(4) { vertical-align: top; }

/* Borders */
td { border: thin solid; }
th { border-width: thin medium thick 2px; 
     border-style: dashed dotted double solid; 
     border-color: green blue black red; 
     border-radius: 30%; }
/* Slash allows specifying horizontal and vertical radii separately */
tr:first-of-type > th { border-radius: 1% / 30%;  }

/* Padding */
tr:nth-of-type(3) > th:nth-of-type(2) { padding: 0.5em; }
tr:nth-of-type(3) > th:nth-of-type(3) { padding: 0em 1em; }
ol.bordered li { border: thin solid black; }
ol.margined ol > li { margin: 0.5em; background-color: tan; }

body {
  font-family: sans-serif;
}

.halfwidth {
  width: 50%;
}

/* Flexbox */
.box {
  border: 2px dotted rgb(96 139 168);
  display: flex;
  justify-content: start;
}

.flex_row { flex-direction: row; }
.flex_col { flex-direction: column; }
.flex_wrapping { flex-wrap: wrap; }

/* Cells for flexbox and grid layouts */

.box > *, .grid > *, .fixed_grid > * {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  padding: 5px;
  margin: 5px;
}


.box > img, .grid > img, .fixed_grid > img {
  align-self: center;
  max-width: 200px;
  max-height: 200px;
}

/* Grid */

.grid, .fixed_grid {
  display: grid; 
  border: 2px dotted rgb(96 139 168);
  justify-items: center;
  grid-auto-flow: dense;
}

/* Responsive */
.grid { 
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
/* Fixed, 4 equal columns */
.fixed_grid {
  grid-template-columns: repeat(4, 25%);
}

#earth {  /* Grows 2x in both directions */
  min-width: 400px; /* Force growth beyond original size */
  min-height: 400px;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#Hitchcock { /* triple-high */
  max-height: 600px; 
  min-width: 200px; /* Force growth beyond original size */
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
}

#mouse { /* force overlap, double-wide */
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 400px;
}

#mole { /* double-wide */
  max-width: 400px;
  grid-column-start: 3;
  grid-column-end: 5
}



