/* For an exploration of CSS selectors, see formsdemo.css. */

/* --------------------- FONTS -----------------------------------------*/

/* Font family */
.gill_sans {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursive {
    font-family: 'Zapfino', cursive;
}

.fantasy {
    font-family: fantasy;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

/* Font style */
.italic {
    font-style: italic; 
}

.nonitalic {
    font-style: normal;
}

/* Font variant */
.small-caps {
    font-variant: small-caps;
}

/* Font weight */
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

/* Font size */
.size100 {
    font-size: 100%; /* Not relative to parent, but (usually) to normal size of self,
                        despite the spec */
}

.size75 {
    font-size: 75%;
}

.size110 {
    font-size: 110%;
}

.size125 {
    font-size: 125%;
}

.size150 {
    font-size: 150%;
}

.size200 {
    font-size: 200%;
}

/* Indenting text */
.indented { text-indent: 2em; } /* Only affects the first line */
/* alignment */
h1, .centered { text-align: center; }
.right { text-align: right; }

/* Text decoration */
.underline { text-decoration: underline; }
.overline { text-decoration: overline; }
.line-through { text-decoration: line-through; }

/* White space */
.pre { white-space: pre; } /* Like the <pre> tag, but without the font change */
.pre-wrap { white-space: pre-wrap; } /* Don't collapse white space, but do wrap */
.pre-line { white-space: pre-line; } /* Just preserves line breaks */

/* Colors */
.red { color: darkred; }
.green { color: #006600; } /* Hex code: RRGGBB */
.blue { color: rgb(0, 0, 255); }
.gray { background-color: rgb(160, 160, 160); }
.brown { background-color: peru;}

.boxed {
    padding: 2ex;
    background-color: lightblue;
    border-top: thin solid;
    border-bottom: thin dashed;
    border-left: medium dotted;
    border-right: medium double;
    margin-top: 1em;
    margin-bottom: 1em;
}


th {
    border-right: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding: .2ex .2em; /* top right bottom left */
}
th:last-child { border-right: none; }

td { 
    border-right: 1px dotted gray; 
    border-top: 1px dotted gray;
    text-align: center;
    padding: .2ex .2em; /* top right bottom left */
}
td:last-child { border-right: none; }

.coltime { border-right: 2px solid; }

thead { border-bottom: 2px solid; }

