/* For an exploration of CSS selectors, see formsdemo.css. */

/* --------------------- FONTS -----------------------------------------*/

/* Font family */
.gill_sans {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cursive {
    font-family: 'Zapfino', cursive;
}

.fantasy {
    font-family: fantasy;
}

.monospace {
    font-family: 'Courier New', Courier, monospace;
}

/* Font style */
.italic {
    font-style: italic; 
}

.nonitalic {
    font-style: normal;
}

/* Font variant */
.small-caps {
    font-variant: small-caps;
}

/* Font weight */
.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.lighter {
    font-weight: lighter;
}

/* Font size */
.size100 {
    font-size: 100%; /* Not relative to parent, but (usually) to normal size of self,
                        despite the spec */
}

.size75 {
    font-size: 75%;
}

.size110 {
    font-size: 110%;
}

.size125 {
    font-size: 125%;
}

.size150 {
    font-size: 150%;
}

.size200 {
    font-size: 200%;
}

/* Indenting text */
.indented { text-indent: 2em; } /* Only affects the first line */
/* alignment */
h1, .centered { text-align: center; }
.right { text-align: right; }

/* Text decoration */
.underline { text-decoration: underline; }
.overline { text-decoration: overline; }
.line-through { text-decoration: line-through; }

/* White space */
.pre { white-space: pre; } /* Like the <pre> tag, but without the font change */
.pre-wrap { white-space: pre-wrap; } /* Don't collapse white space, but do wrap */
.pre-line { white-space: pre-line; } /* Just preserves line breaks */

/* Colors */
.red { color: darkred; }
.green { color: #006600; } /* Hex code: RRGGBB */
.blue { color: rgb(0, 0, 255); }
.gray { background-color: rgb(160, 160, 160); }
.brown { background-color: peru;}

.boxed {
    padding: .5ex;
    background-color: lightblue;
    border-top: thin solid;
    border-bottom: thin dashed;
    border-left: medium dotted;
    border-right: medium double;
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.boxed3 {
    padding: 2ex;
    border-radius: 2ex;
    border: medium outset;
    box-shadow: 0.5em 0.5em 0.4em rgba(0, 0, 0, 0.2) ;
}

/*------------ TABLES ---------------------------------*/

/* Collapsed borders */

th {
    border-right: 1px dotted gray;
    border-bottom: 1px dotted gray;
    padding: .2ex .2em; /* top right bottom left */
}
th:last-child { border-right: none; }

td { 
    border-right: 1px dotted gray; 
    border-top: 1px dotted gray;
    text-align: center;
    padding: .2ex .2em; /* top right bottom left */
}
td:last-child { border-right: none; }

.coltime { border-right: 2px solid; }

thead { border-bottom: 2px solid; }

/* Table with separated borders */
table.separate-borders {
    border-collapse: separate;
    border-spacing: 1ex;
    empty-cells: hide;
}

.separate-borders th, .separate-borders td {
    border: 1px solid gray;
}

.separate-borders tr:last-child > th,
.separate-borders th[rowspan] {
    border-bottom: 2px solid black;
}

.separate-borders td:first-of-type,
.separate-borders tr:first-child td:nth-of-type(2) {
    border-right: 2px solid black;
}

img {
    width: 60%;
    margin-left: 20%;
}

img.small {
    width: 15%;
    max-width: 150px;
}

.separate-borders td[rowspan] {
    border-right: 1px solid gray;
}

/* Line height */
.line140 { line-height: 140%; }

/* Newspaper columns */
.newspaper {
    columns: 3;
    column-rule: thin solid slategrey;
}

.columnspan {
    column-span: all;
    text-align: center;
}

/* ---------------- POSITIONING ----------------------*/

.positioning {
    line-height: 200%;
    position: relative;
}

.positioning > p {
    border: thin dotted gray;
    width: 220px;
    height: 200px;
}

.outer { 
    color: red;
    border: thin dotted red;    
 }
.inner { 
    color: blue; 
    border: thin dotted blue;
}
.sibling { 
    color: green;
    border: thin dotted green; 
}

.relative > .outer {
    position: relative;
    top: -16px;
}
.relative .inner {
    position: relative;
    top: 16px;
}

.floating .inner {
    float: right;
    width: 80px;
}

.clear .sibling { /* Why does this not have any effect? */
    clear: both;
}

.absolute > .outer {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 200px;
}

.parented > .outer {
    position: relative; /* Not moved, just used to establish a parent */
}

.parented .inner {
    position: absolute;
    top: 100px;
    left: -50px;
    width: 80px;
    height: 80px;
}

.changebars {
    position: relative;
    left: 10px; 
    margin-right: 10px; 
}
.changebar {
    color: red;
    font-weight: bold;
    position: absolute;
    top: auto; /* In other words, where it would have been without positioning */
    left: -0.5em;
}

/* Vertical alignment */
.toprow > th:first-child { vertical-align: top; }
thead th:nth-of-type(2) { vertical-align: bottom; }

